body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #314580;
}
#page_container{
    background-color: white;
    margin: 10px auto;
    /* border: 1px solid black; */
    text-align: center;
    width: 500px;
    height: auto;
}
#logoImg{
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 30%;
    height: auto;
}
#mainImg{
    height: auto;
    max-width: 80%;
}
#openBtn img{
    width: 180px;
    height: auto;
}
.font {
    font-family: 'Jua', sans-serif;
}
#text1{
    font-size: 20px;
}
#text2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}
#text3{
    font-size: 30px;
    margin-bottom: 0;
}
#text4{
    font-size: 20px;
}
#count{
    color: #314580;
    font-size: 30px;
}

@media(max-width: 1023px){ /* 1023px 이하일 때(mobile) */
    #page_container{
        margin-left: auto;
        margin-right: auto;
        /* border: 1px solid black; */
        text-align: center;
        width: 100%;
        height: auto;
    }
    h5{
        font-size: 30px;
    }
    h1{
        font-size: 70px;
    }
    h4{
        font-size: 50px;
    }
    h2{
        font-size: 60px;
    }
}
