/* 빅데스크탑 */
@media screen and (min-width:1799px) {
    #inner_element_container {
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    #page_container {
        position: relative;
    }
}
@media screen and (max-width:1799px) {
/* 데스크탑 */
    
    html {
        height: 100%;
    }
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: #FFE6E2;
        align-items: center;
    }
    #page_container{
        background-color: white;
        text-align: center;
        margin: 15px auto;
        display: flex;
        height: 95%;
        width: 50%;
    }
    #inner_element_container {
        margin: auto;
    }
    #logoImg{
        margin-top: 5px;
        margin-bottom: 10px;
        max-width: 30%;
        height: auto;
    }
    .font {
        font-family: 'Hahmlet', serif;
    }
    #text4{
        font-size: 20px;
    }
    #count{
        color: #81BEF7;
        font-size: 30px;
    }
    #prologue{
        height: 100%;
        display: none;
        justify-content: center;
        position: relative;
    }
    #prologue video{
        justify-content: center;
    }
    #openBtn{
        cursor: pointer;
    }
    .nextBtn {
        position: absolute;
        top: 92%;
        cursor: pointer;
        display: none;
        /* transform: translateX(330%); */
    }
    .nextBtn img{
        width: 50px;
    }
    #mainGif {
        width: 48vh;
    }
    #start {
        width: 48vh;
    }
}
@media screen and (max-width:1199px) {
/* 타블렛 가로 */
}
@media screen and (max-width:899px) {
/* 모바일 가로, 타블렛 세로 */
    html {
        width: 100%;
        height: 100%;
        margin: auto 0;
    }
    body{
        width: 100%;
        height: 100%;
        align-items: center;
        background-color: white;
    }
    #page_container{
        background-color: white;
        text-align: center;
        width: 100%;
        display: block;
        /* transform: translateY(20%); */
    }
    #prologue{
        height: 100%;
        display: none;
        justify-content: center;
        position: relative;
    }
    #prologue video{
        justify-content: center;
    }
    .font {
        font-family: 'Hahmlet', serif;
    }
    #text4{
        font-size: 30px;
        display: inline-block;
    }
    #count{
        color: #81BEF7;
        font-size: 40px;
    }
    #video {
        width: 100%;
    }
}
@media screen and (max-width:599px) {
/* 모바일 세로 */
    html {
        width: fit-content;
        height: 100%;
    }
    body{
        width: 100%;
        height: 100%;
        align-items: center;
        background-color: white;
    }
    #page_container{
        background-color: white;
        text-align: center;
        width: 100%;
        display: flex;
        /* transform: translateY(15%); */
    }
    #inner_element_container {
        margin: auto;
    }
    #prologue{
        width: auto;
        display: none;
        position: relative;
        /* transform: translateY(20%); */
    }
    #prologue video{
        justify-content: center;
    }
    .font {
        font-family: 'Hahmlet', serif;
    }
    #text4{
        font-size: 20px;
        display: inline-block;
    }
    #count{
        color: #81BEF7;
        font-size: 40px;
    }
    #video {
        width: 100%;
    }
}
.font {
    font-family: 'Hahmlet', serif;
}
#text4{
    font-size: 20px;
}
#count{
    color: #81BEF7;
    font-size: 30px;
}
#prologue{
    height: 100%;
    width: fit-content;
    position: relative;
    margin: 0 auto;
    display: none;
    justify-content: center;
}
#openBtn{
    cursor: pointer;
}
.nextBtn {
    position: absolute;
    cursor: pointer;
    right: 10%;
    top: 90%;
}
.nextBtn img{
    width: 50px;
}
