/* 빅데스크탑 */

@media screen and (max-width:1799px) {
/* 데스크탑 */
    html {
        height: 100%;
    }
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: #FFE6E2;
        align-items: center;
    }
    #page_container{
        background-color: white;
        text-align: center;
        margin: 15px auto;
        height: auto;
        width: 500px;
    }
    #mainGif {
        width: 500px;
    }
    #openBtn img {
        width: 500px;
    }
    #logoImg{
        margin-top: 5px;
        margin-bottom: 10px;
        max-width: 30%;
        height: auto;
    }
    .font {
        font-family: 'Hahmlet', serif;
    }
    #text4{
        font-size: 20px;
    }
    #count{
        color: #81BEF7;
        font-size: 30px;
    }
    #prologue{
        height: 100%;
        display: none;
        justify-content: center;
    }
    #prologue video{
        justify-content: center;
    }
    #openBtn{
        cursor: pointer;
    }
    .nextBtn {
        position: absolute;
        transform: translate(160px, 280px);
        top: 50%;
        cursor: pointer;
        display: none;
    }
    .nextBtn img{
        width: 50px;
    }
}
@media screen and (max-width:1199px) {
/* 타블렛 가로 */
}
@media screen and (max-width:899px) {
/* 모바일 가로, 타블렛 세로 */
    html {
        width: 100%;
        height: 100%;
        margin: auto 0;
    }
    body{
        width: 100%;
        height: 100%;
        align-items: center;
        background-color: white;
    }
    #page_container{
        background-color: white;
        text-align: center;
        width: 100%;
        transform: translateY(20%);
    }
    #prologue{
        height: 100%;
        display: none;
        justify-content: center;
    }
    #prologue video{
        justify-content: center;
    }
    .font {
        font-family: 'Hahmlet', serif;
    }
    #text4{
        font-size: 30px;
        display: inline-block;
    }
    #count{
        color: #81BEF7;
        font-size: 40px;
    }
}
@media screen and (max-width:599px) {
/* 모바일 세로 */
    html {
        width: fit-content;
        height: auto;
    }
    body{
        width: 100%;
        height: 100%;
        align-items: center;
        background-color: white;
    }
    #page_container{
        background-color: white;
        text-align: center;
        width: 100%;
        transform: translateY(20%);
    }
    #prologue{
        width: auto;
        display: none;
        transform: translateY(20%);
    }
    #prologue video{
        justify-content: center;
    }
    .font {
        font-family: 'Hahmlet', serif;
    }
    #text4{
        font-size: 30px;
        display: inline-block;
    }
    #count{
        color: #81BEF7;
        font-size: 40px;
    }
}
