body{
    background-color: #314580;
    width: 100%;
    height: 100%;
}
#back {
    height: 100%;
    background-size: contain;
    background-image: url("../image/background_img.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
}
#outer {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.headline { /* 맨 위의 나는.. 부분 */
    text-align: center;
    font-size: 14px;
}
.questionbox { /* (문제 + 라디오박스 + 라디오 밑의 글씨) 의 div */
    width: 100%;
    padding-top: 4px;
    text-align: center;
}
.questionSTR {
    font-size: 16px;
}
.select {
    font-size:10px;
}
.select input[type=radio], .select input[type=radio]:checked{
    appearance: none;
    cursor: pointer;
    border: 1px solid #333;
    line-height: 24px;
    font-weight:bold;
    border-radius: 50%;
    display: inline-block;
}
.check1, .check5{
    height: 45px;
    width: 45px;
}
.check4, .check2{
    height: 35px;
    width: 35px;
}
.check3{
    height: 25px;
    width: 25px;
}
.select input[type=radio]{
    background-color: #fff;
    border: 2px solid #333;
}
.select input[type=radio]:checked{
    background-color: #333;
    border: 2px solid #333;
}

@media(max-width: 1023px){ /* 1023px 이하일 때(mobile) */
    .headline { /* 맨 위의 나는.. 부분 */
        text-align: center;
        font-size: 25px;
    }
    .questionbox { /* (문제 + 라디오박스 + 라디오 밑의 글씨) 의 div */
        width: 100%;
        padding-top: 15px;
        text-align: center;
    }
    .questionSTR {
        font-size: 23px;
    }
    .select {
    font-size:15px;
    }
    .select input[type=radio], .select input[type=radio]:checked{
        appearance: none;
        cursor: pointer;
        border: 1px solid #333;
        line-height: 24px;
        font-weight:bold;
        font-size:13px;
        border-radius: 50%;
        display: inline-block;
    }
    .check1, .check5{
        height: 70px;
        width: 70px;
    }
    .check4, .check2{
        height: 60px;
        width: 60px;
    }
    .check3{
        height: 50px;
        width: 50px;
    }
}