.questionbox {
    width: 100%;
    padding-top: 25px;
    text-align: center;
}
.select {
    width:80%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.select input[type=radio], .select input[type=radio]:checked{
    appearance: none;
    cursor: pointer;
    border: 1px solid #333;
    line-height: 24px;
    font-weight:bold;
    font-size:13px;
    border-radius: 50%;
    display: inline-block;
}
.headline {
    text-align: center;
}
#back {
    height: 100%;
    background-image: url("../image/background_img.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.check1, .check5{
    height: 70px;
    width: 70px;
}
.check4, .check2{
    height: 60px;
    width: 60px;
}
.check3{
    height: 50px;
    width: 50px;
}
.select input[type=radio]{
    background-color: #fff;
    border: 2px solid #333;
}
.select input[type=radio]:checked{
    background-color: #333;
    border: 2px solid #333;
}