body{
    text-align: center;
    background-color: #dbf6c3;
}
#container{
    text-align: center;
}
#nameSearchBox{
    height: 25px;
    width: 200px;
}
#searchBtn{
    margin-top: 5px;
}
#enneaTable{
    margin: 20px auto;
    border: 1px solid black;
    border-collapse: collapse;
}
#enneaTable th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}