body{
    text-align: center;
    background-image: url("../image/background.png");
}
#container{
    text-align: center;
}
#nameSearchBox{
    width: 100px;
}
#searchBtn{
    margin-top: 5px;
    font-family: 'Hahmlet', serif;
}
#enneaTable{
    margin: 20px auto;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Hahmlet', serif;
}
#enneaTable th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}
#enneaTable td{
    background-color: white;
}
#enneaTable th{
    background-color: whitesmoke;
}
label{
    font-family: 'Hahmlet', serif;
}