html{
    height: 100%;
}
body {
    background-color: #314580;
    height: 100%;
    justify-content: center;
    align-content: center;
}
.background_img {
    margin: auto;
    height: 100%;
}
#back {
    display: flex;
    text-align: center;
    height: 100%;
}
#prologuePage{
    height: 100%;
    display: none;
    text-align: center;
    height: 100%;
    justify-content: center;
}
#chapterGoBtn{
    position: absolute;
    display: inline-block;
    top: 32%;
    transform: translate(-27px,-50%);
}
p{
    margin: 0px;
}
#nextBtn2 {
    transform: translate(-35px,0%);
    transform: translateY(380px);
}
#nextBtn {
    transform: translateY(314px);
}
#inner {
    margin: auto;
    position: absolute;
    width: 100%;
    top: 34%;
    transform: translate(-35px,-50%);
    text-align: center;
}
.questionText{
    font-family: 'Jua', sans-serif;
    font-size: 40px;
    transform: translateY(5vh);
}
#nameBox{
    font-family: 'Jua', sans-serif;
    font-size: 35px;
    transform: translateY(60px);
    width: 15vw;
    height: 40px;
    text-align: center;
    background-color: #E8E7D5;
    color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid black;
}
.nextBtn{
    transform: translateY(270px);
    cursor: pointer;
}
.imgbutton{
    width: 100px;
    height: auto;
}
@media(max-width: 1023px){ /* 1023px 이하일 때(mobile) */
    .background_img {
        margin: auto;
        width: 100%;
        height: auto;
    }
    #inner {
        position: absolute;
        top: 50%;
        transform: translate(-3.5vw, -25vw);
    }
    .nextBtn{
        transform: translateY(45vw);
        cursor: pointer;
    }
    .questionText{
        font-family: 'Jua', sans-serif;
        font-size: 5vw;
        transform: translateY(-2vw);
    }
    #nameBox{
        font-family: 'Jua', sans-serif;
        font-size: 5vw;
        width: 30vw;
        height:8vw;
        text-align: center;
        transform: translateY(3vw);
    }
    #nextBtn2 {
        transform: translateY(69vw);
    }
    .imgbutton{
        width: 16vw;
        height: auto;
    }
    #chapterGoBtn {
        top: 50%;
        transform: translate(-3.5vw, -25vw);
    }
}