html{
    height: 100%;
}
body {
    background-color: #314580;
    height: 100%;
    /* align-items: center; */
    justify-content: center;
    align-content: center;
}
.background_img {
    margin: auto;
    height: 100%;
}
#back {
    display: flex;
    text-align: center;
    height: 100%;
    /* left: -5%; */
    /* background-image: url("../image/background_img.jpg");
    background-size: contain;
    background-repeat: no-repeat; */
}
#prologuePage{
    height: 100%;
    /* background-size: contain;
    background-image: url("../image/prologue.png");
    background-repeat: no-repeat; */
    /* background-position: 50%; */
    display: none;
    text-align: center;
    height: 100%;
    justify-content: center;
    /* left: -5%; */
}
#chapterGoBtn{
    position: absolute;
    display: inline-block;
    top: 32%;
    transform: translate(-35px,-50%);
    /* margin-top: 4vw; */
     /* 이거 방식 다르게 하면 좋을듯1 */
}
p{
    margin: 0px;
}
#nextBtn2 {
    transform: translate(-35px,0%);
    transform: translateY(490px);
}
/* #prologuePage img{
    width: 100px;
    height: auto;
} */
#inner {
    margin: auto;
    position: absolute;
    width: 100%;
    top: 34%;
    transform: translate(-35px,-50%);
    text-align: center;
}
.questionText{
    font-family: 'Jua', sans-serif;
    font-size: 40px;
    transform: translateY(5vh);
}
#nameBox{
    font-family: 'Jua', sans-serif;
    font-size: 35px;
    transform: translateY(60px);
    width: 15vw;
    height: 40px;
    text-align: center;
    background-color: #E8E7D5;
    color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid black;
}
.nextBtn{
    transform: translateY(420px);
    cursor: pointer;
}
.imgbutton{
    width: 120px;
    height: auto;
}
@media(max-width: 660px){ /* 1023px 이하일 때(mobile) */
    .background_img {
        margin: auto;
        width: 100%;
        height: auto;
    }
    #inner {
        position: absolute;
        top: 50%;
        transform: translate(-3.5vw, -25vw);
    }
    /* #imgContainer{
        margin: 120px 0;
        width: 100%;
        height: auto;
    } */
    /* #textContainer{
        position: absolute;
        top: 30%;
        left: 17%;
    } */

    .nextBtn{
        /* margin-top: 2vw; */
         /* 이거 방식 다르게 하면 좋을듯2 */
        transform: translateY(45vw);
        cursor: pointer;
    }
    .questionText{
        font-family: 'Jua', sans-serif;
        font-size: 5vw;
        transform: translateY(-2vw);
    }
    #nameBox{
        font-family: 'Jua', sans-serif;
        font-size: 5vw;
        width: 30vw;
        height:8vw;
        text-align: center;
        transform: translateY(3vw);
    }
    #nextBtn2 {
        transform: translateY(69vw);
    }
    .imgbutton{
        width: 16vw;
        height: auto;
    }
    #chapterGoBtn {
        top: 50%;
        transform: translate(-3.5vw, -25vw);
    }
}