html{
    height: 100%;
}
body {
    background-color: #FFE6E2;
    height: 100%;
    justify-content: center;
    align-content: center;
}
#background_img {
    height: 100%;
}
#back {
    display: flex;
    text-align: center;
    height: 100%;
}
#prologuePage{
    height: 100%;
    display: none;
    text-align: center;
    height: 100%;
    justify-content: center;
}
#chapterGoBtn{
    position: absolute;
    display: inline-block;
    top: 32%;
    transform: translate(-27px,-50%);
}
p{
    margin: 0px;
}
/* #nextBtn2 {
    transform: translate(-35px,0%);
    transform: translateY(380px);
} */
.nextBtn {
    position: absolute;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    top: 85%;
    left: 80%;
    /* transform: translate(1120%, 450%); */
}
.nextBtn img{
    width: 50px;
}
#inner {
    margin: 0px auto;
    position: relative;
    width: fit-content;
    /* transform: translate(-35px,-50%); */
    text-align: center;
    height: 100%;
}
#nameBox{
    font-family: 'Hahmlet', serif;
    font-size: 17px;
    text-align: center;
    transform: translateX(-50%);
    top: 53%;
    left: 50%;
    width: 13vh;
    height: 4vh;
    position: absolute;
    border: 0;
    border-bottom: 3px solid rgb(95, 90, 90);
}
@media(max-width: 1023px){ /* 1023px 이하일 때(mobile) */
    /* #background_img {
        margin: auto;
        width: 100%;
        height: auto;
    }
    #inner {
        position: relative;
        height: fit-content;
        margin: auto;
        width: 100%;
    } */
    .nextBtn{
        /* transform: translate(1250%, 800%); */
        cursor: pointer;
    }
    .questionText{
        font-family: 'Jua', sans-serif;
        font-size: 5vw;
        transform: translateY(-2vw);
    }
    #nameBox{
        font-family: 'Hahmlet', serif;
        /* width: 30vw;
        height:8vw; */
        text-align: center;
        /* transform: translateY(3vw); */
    }
    #nextBtn2 {
        transform: translateY(69vw);
    }
    .imgbutton{
        width: 16vw;
        height: auto;
    }
    #chapterGoBtn {
        top: 50%;
        transform: translate(-3.5vw, -25vw);
    }
}