body {
    background-color: #314580;
    height: 700px; /* 왜 100%하면 안나올까 고쳐야함 */
}
#back {
    height: 100%;
    background-image: url("../image/background_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
#prologuePage{
    height: 100%;
    background-size: contain;
    background-image: url("prologue.png");
    background-repeat: no-repeat;
    background-position: 50%;
    display: none;
    text-align: center;
}
#prologuePage a{
    position: absolute;
    top: 80%;
}
#prologuePage img{
    width: 100px;
    height: auto;
}
#inner {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.questionText{
    font-family: 'Jua', sans-serif;
    font-size: 40px;
}
.nameBox{
    font-family: 'Jua', sans-serif;
    font-size: 35px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #E8E7D5;
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid black;
}
#nextBtn{
    margin-top: 20%;
    cursor: pointer;
}
#nextBtn img{
    width: 100px;
    height: auto;
}

@media(max-width: 1023px){ /* 1023px 이하일 때(mobile) */
    /* #imgContainer{
        margin: 120px 0;
        width: 100%;
        height: auto;
    }
    #textContainer{
        position: absolute;
        top: 30%;
        left: 17%;
    }
    #questionText{
        font-family: 'Jua', sans-serif;
        font-size: 70px;
    }
    #nameBox{
        font-family: 'Jua', sans-serif;
        font-size: 50px;
        width: 600px;
        height:80px;
        text-align: center;
    } */
}