body{
    width: 100%;
    height: 100%;
    background-color: #314580; /*#253563*/
}
#imgContainer{
    margin: 0 auto;
    width: 38%;
    height: auto;
    text-align: center;
}
#book_background{
    width: 100%;
    height: auto;
}
#textContainer{
    position: absolute;
    top: 30%;
    left: 39%;
}
#nameBox{
    font-family: 'Jua', sans-serif;
    font-size: 35px;
    width: 300px;
    height: 40px;
    text-align: center;
}
#questionText{
    font-family: 'Jua', sans-serif;
}
@media(max-width: 1023px){ /* 1023px 이하일 때(mobile) */
    #imgContainer{
        margin: 120px 0;
        width: 100%;
        height: auto;
    }
    #textContainer{
        position: absolute;
        top: 30%;
        left: 17%;
    }
    #questionText{
        font-family: 'Jua', sans-serif;
        font-size: 70px;
    }
    #nameBox{
        font-family: 'Jua', sans-serif;
        font-size: 50px;
        width: 600px;
        height:80px;
        text-align: center;
    }
}