html{
    height: 100%;
}
body{
    background-color: #314580;
    height: 100%;
}
.chapterPage{
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    text-align: center;
}
#chapterPage_1{
    background-image: url("../image/chapter1.png");
}
#chapterPage_2{
    background-image: url("../image/chapter2.png");
}
#chapterPage_3{
    background-image: url("../image/chapter3.png");
}
#nextBtn{
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 80%;
    left: -2%;
}
#nextBtn img{
    width: 100px;
    height: auto;
}
#back {
    display: none;
    height: 100%;
    background-image: url("../image/background_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
.inner{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#inner_2, #inner_3, #inner_4, #inner_5, #inner_6, #inner_7{
    display: none;
}
.headline { /* 맨 위의 나는.. 부분 */
    text-align: center;
    font-size: 14px;
}
.questionbox { /* (문제 + 라디오박스 + 라디오 밑의 글씨) 의 div */
    width: 100%;
    padding-top: 4px;
    text-align: center;
}
.questionSTR {
    font-size: 16px;
}
.select {
    font-size:10px;
}
/* .select input[type=radio], .select input[type=radio]:checked{
    appearance: none;
    cursor: pointer;
    border: 1px solid #333;
    line-height: 24px;
    font-weight:bold;
    border-radius: 50%;
    display: inline-block;
} */
.select input[type=radio], .select input[type=radio]:checked{
    appearance: none;
    cursor: pointer;
    border-radius: 50%;
}
.select input.negative_color{
    background-color: #fff;
    border: 2px solid rgb(106, 62, 117);
}
.select input.negative_color:checked{
    background-color: rgb(106, 62, 117);
    border: 2px solid rgb(106, 62, 117);
}
.select input.normal_color{
    background-color: #fff;
    border: 2px solid rgb(86, 82, 87);
}
.select input.normal_color:checked{
    background-color: rgb(86, 82, 87);
    border: 2px solid rgb(86, 82, 87);
}
.select input.positive_color{
    background-color: #fff;
    border: 2px solid rgb(67, 152, 81);
}
.select input.positive_color:checked{
    background-color: rgb(67, 152, 81);
    border: 2px solid rgb(67, 152, 81);
}
.check1, .check5{
    height: 39px;
    width: 39px;
}
.check4, .check2{
    height: 32px;
    width: 32px;
}
.check3{
    height: 25px;
    width: 25px;
}