body{
    width: 100%;
    background-color: #FFE6E2;
    text-align: center;
}
#resultImg{
    display: inline;
}
#resultImg img{
    width: 50%;
    height: auto;
}
#btnContainer{
    padding-top: 20px;
}
.btn{
    padding: 0 20px;
}
#kakaoShareBtn{
    display: inline-block;
    cursor: pointer;
}
