html {
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: #FFE6E2;
    text-align: center;
}
#loading {
    height: 100%;
}
#resultImg{
    display: none;
    justify-content: center;
    text-align: center;
}
#resultMainImg{
    width: 700px;
}
#btnContainer{
    padding-top: 20px;
    display: none;
}
.btn{
    padding: 0 20px;
}
#kakaoShareBtn{
    display: inline-block;
    cursor: pointer;
}
#second_Ennea {
    position: absolute;
    top: 550px;
    width: 130px;
    transform: translateX(-150px);
}
#third_Ennea {
    position: absolute;
    top: 550px;
    width: 130px;
    transform: translateX(145px);
}
#boo1 {
    position: absolute;
    top: 670px;
    transform: translateX(-150px);
    font-size: 23px;
    font-family: 'Jua', sans-serif;
}
#boo2 {
    position: absolute;
    top: 670px;
    transform: translateX(145px);
    font-size: 23px;
    font-family: 'Jua', sans-serif;
}
#name {
    position: absolute;
    top: 720px;
    transform: translateX(-155px);
    font-size: 24px;
    font-family: 'Jua', sans-serif;
}